// ----------- Using the Sass 7-1 Architecture  ----------- //
// More details : https://sass-guidelin.es/#the-7-1-pattern

@import 'inter-ui/inter-ui.css';
@import 'helpers/variables';
@import 'helpers/functions';
@import 'helpers/mixins';
@import 'helpers/helpers';

@import 'vendors/jquery-ui';

@import 'base/reset';
@import 'base/typography';

@import 'layout/grid';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/sidebar';
@import 'layout/forms';
@import 'layout/faq';

@import 'components/buttons';

@import 'components/dropdown';
@import 'components/navigation';
@import 'components/animations';

@import 'pages/home';

@import 'themes/theme';
@import 'themes/admin';

@import 'components/modals';


// HTML and Body Styling
*, html, body {
	box-sizing: border-box;
}
html,body {
	height: 100%;
	min-height: 100%;
	width: 100%;
	background: white;
	font-family: $font-family;
	font-size: 16px;
}
body {
	overflow-x: hidden;
}