<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<!-- Metatags-->
	<meta charset="UTF-8">
	<meta name="description" content="Makerduo - Two makers building delightful products.">
	<meta name="keywords" content="indie, developers, makers, designers, solo, preneurs, entrepreneurs">
	<meta name="author" content="Hardik Jain and Kshitij Choudhary">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Levo</title>

	<link rel="icon" href="assets/img/favicon.png" type="image/png">
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,700" rel="stylesheet">
	<link rel="stylesheet" href="css/main.css">

</head>
<body>
	<div class="body-container">
		<nav></nav>
		<section class="header">
			<div class="container">
				<div class="row center-xs">
					<div class="col-xs-10">
						<div class="header__content">
							<h1>The time tools you need, all combined with payroll.</h1>
							<p class="lead">When you use Gusto, your team’s hours, time off and holidays are automatically calculated into payroll. No extra steps. No Stress.</p>
							<a href="#" class="btn-primary">Try Gusto for free</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="features">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="features__content">

							<div class="feature">
								<div class="icon">
									<img src="assets/img/makerduo-logo.svg" alt="">
								</div>
								<p>Simple time tracking</p>
							</div>

							<div class="feature">
								<div class="icon">
									<img src="assets/img/makerduo-logo.svg" alt="">
								</div>
								<p>Paid time-off policies</p>
							</div>

							<div class="feature">
								<div class="icon">
									<img src="assets/img/makerduo-logo.svg" alt="">
								</div>
								<p>Simple time tracking</p>
							</div>

							<div class="feature">
								<div class="icon">
									<img src="assets/img/makerduo-logo.svg" alt="">
								</div>
								<p>Paid time-off policies</p>
							</div>

							<div class="feature">
								<div class="icon">
									<img src="assets/img/makerduo-logo.svg" alt="">
								</div>
								<p>Simple time tracking</p>
							</div>

							<div class="feature">
								<div class="icon">
									<img src="assets/img/makerduo-logo.svg" alt="">
								</div>
								<p>Paid time-off policies</p>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="feature">
			<div class="container">
				<div class="row">

					<div class="col-xs-12 col-md-6">
						<div class="feature__content">
							<div class="image">
								<img src="assets/img/bg-pattern.png" alt="">
							</div>
						</div>
					</div>

					<div class="col-xs-12 col-md-6">
						<div class="feature__content">
							<div class="icon">
								<img src="assets/img/bg-pattern.png" alt="">
							</div>
							<div class="label">Simple time tracking</div>
							<h3 class="title">Track hourly work the easy way.</h3>
							<p class="description">Hourly employees enter hours right into their account. You just click to sync to payroll.</p>
							<a href="#" class="btn-secondary">Learn More</a>
						</div>
					</div>

				</div>
			</div>
		</section>

		<section class="feature">
			<div class="container">
				<div class="row">

					<div class="col-xs-12 col-md-6">
						<div class="feature__content">
							<div class="image">
								<img src="assets/img/bg-pattern.png" alt="">
							</div>
						</div>
					</div>

					<div class="col-xs-12 col-md-6">
						<div class="feature__content">
							<div class="icon">
								<img src="assets/img/bg-pattern.png" alt="">
							</div>
							<div class="label">Simple time tracking</div>
							<h3 class="title">Track hourly work the easy way.</h3>
							<p class="description">Hourly employees enter hours right into their account. You just click to sync to payroll.</p>
							<a href="#" class="btn-secondary">Learn More</a>
						</div>
					</div>

				</div>
			</div>
		</section>

		<section class="feature">
			<div class="container">
				<div class="row">

					<div class="col-xs-12 col-md-6">
						<div class="feature__content">
							<div class="image">
								<img src="assets/img/bg-pattern.png" alt="">
							</div>
						</div>
					</div>

					<div class="col-xs-12 col-md-6">
						<div class="feature__content">
							<div class="icon">
								<img src="assets/img/bg-pattern.png" alt="">
							</div>
							<div class="label">Simple time tracking</div>
							<h3 class="title">Track hourly work the easy way.</h3>
							<p class="description">Hourly employees enter hours right into their account. You just click to sync to payroll.</p>
							<a href="#" class="btn-secondary">Learn More</a>
						</div>
					</div>

				</div>
			</div>
		</section>

		<section class="pricing">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="pricing__content">
							<div class="pricing-basic">
								<div class="head">
									<div class="plan-fee">Free</div>
									<div class="plan-name">Basic</div>
								</div>
								<div class="plan-features">
									<ul>
										<li>This is a feature.</li>
										<li>This is a feature.</li>
										<li>This is a feature.</li>
										<li>This is a feature.</li>
									</ul>
								</div>
							</div>

							<div class="pricing-premium">
								<div class="head">
									<div class="plan-fee">99</div>
									<div class="plan-name">Premium</div>
								</div>
								<div class="plan-features">
									<ul>
										<li>This is a feature.</li>
										<li>This is a feature.</li>
										<li>This is a feature.</li>
										<li>This is a feature.</li>
									</ul>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="cta">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<h1>Ready to dive in?</h1>
						<p>This is really simple call to action text. or a pricing plan section that changes dynamically.</p>
						<a href="#" class="btn-cta">Try Gusto for free</a>
					</div>
				</div>
			</div>
		</section>

		<footer>
			<div class="container">
				<div class="row">
					<div class="col-xs-6">
						<div class="copyright">©Copyright Levo 2018</div>
					</div>

					<div class="col-xs-6">
						<div class="links">Made by someone</div>
					</div>

				</div>
			</div>
		</footer>
	</div>
</body>
</html>