<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<!-- Metatags-->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Split</title>

	<!-- SEO tags -->
	<meta name="description" content="Flexplates- The best place to download amazing landing pages for free. Modern landing pages for startups and indie makers" />

	<meta name="keywords" content="landing page, page, marketing, site, landing, website, design, free, marketplace, html5, html, templates, template, modern" />

	<meta name="author" content="Flexplates" />
	<!--[if IE]><link rel="shortcut icon" href="assets/favicon.png"><![endif]-->
	<link rel="icon" href="split-landing-page/assets/img/favicon.png" type="image/png">
	<!-- Schema.org markup for Google+ -->
	<meta itemprop="name" content="Flexplates">
	<meta itemprop="description" content="Flexplates- The best place to download amazing landing pages for free. Modern landing pages for startups and indie makers">
	<meta itemprop="image" content="split-landing-page/assets/img/social.png">

	<!-- Twitter Card data -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@flexplatesr">
	<meta name="twitter:title" content="Flexplates: Premium HTML landing pages">
	<meta name="twitter:description" content="Flexplates- The best place to download amazing landing pages for free. Modern landing pages for startups and indie makers">
	<meta name="twitter:creator" content="@flexplates">

	<!-- Twitter summary card with large image must be at least 280x150px -->
	<meta name="twitter:image:src" content="split-landing-page/assets/img/social.png">

	<!-- Open Graph data -->
	<meta property="og:title" content="Flexplates- The best place to download amazing landing pages for free. Modern landing pages for startups and indie makers" />
	<meta property="og:type" content="Website" />
	<meta property="og:url" content="http://www.flexplates.com/" />
	<meta property="og:image" content="split-landing-page/assets/img/social.png" />
	<meta property="og:description" content="Flexplates- The best place to download amazing landing pages for free. Modern landing pages for startups and indie makers" />
	<meta property="og:site_name" content="Flexplatesr" />

	<!-- Icons, Fonts and Stylesheets-->
	<link rel="icon" href="split-landing-page/assets/img/favicon.png" type="image/png">
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,700" rel="stylesheet">
	<link rel="stylesheet" href="split-landing-page/css/main.css">

</head>
<body>
	<div class="full-section full-section--desktop">
		<div class="left">
			<div class="content__container">
				<div class="top">
					<div class="content">
						<div class="logo">
							<img src="split-landing-page/assets/img/brand/logo.svg" alt="Split">
						</div>
						<h1>Keep track of your subscriptions</h1>
						<p class="lead">Get insights in your fixed costs. Manage your subscriptions and get notified when a bill is due.</p>
						<div class="testimonial">
							<div class="quote">
								“ Get insights in your fixed costs. Manage your subscriptions and get notified when a bill is due. “
							</div>
							<div class="profile-thumb">
								<div class="thumb">
									<img src="split-landing-page/assets/img/testimonial-pic.svg" alt="Thomas">
								</div>
								<div class="profile">
									<h4 class="name">Thomas Muller</h4>
									<div class="job">Business Dev, Indigo XP</div>
								</div>
							</div>
						</div>
						<div class="actions">
							<a href="" class="app-store action">
								<img src="split-landing-page/assets/img/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg" alt="Download_on_the_App_Store">
							</a>
							<a href="" class="app-store action">
								<img src="split-landing-page/assets/img/playstore.svg" alt="Download_on_the_App_Store">
							</a>
						</div>
						<div class="notice">Available on iPhone and Android</div>
					</div>
				</div>
				<div class="bottom">
					<div class="content">
						<ul>
							<li><a href="#">Twitter</a></li>
							<li><a href="">Email</a></li>
							<li><a href="">Press</a></li>
							<li><a href="">Legal</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="right">
			<div class="content__container">
				<div class="top">
					<div class="content">
						<div class="phone">
							<img src="split-landing-page/assets/img/phone-bg.png" alt="">
						</div>
					</div>
				</div>
				<div class="bottom">
					<div class="content">
						<ul>
							<li><a href="#">© Copyright 2018 Split Inc.</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Mobile Site -->
	<div class="full-section full-section--mobile">
		<div class="left">
			<div class="content__container">
				<div class="top">
					<div class="content">
						<div class="logo">
							<img src="split-landing-page/assets/img/brand/logo.svg" alt="Split">
						</div>
						<h1>Keep track of your subscriptions</h1>
						<p class="lead">Get insights in your fixed costs. Manage your subscriptions and get notified when a bill is due.</p>
						<div class="testimonial">
							<div class="quote">
								“ Get insights in your fixed costs. Manage your subscriptions and get notified when a bill is due. “
							</div>
							<div class="profile-thumb">
								<div class="thumb">
									<img src="split-landing-page/assets/img/testimonial-pic.svg" alt="Thomas">
								</div>
								<div class="profile">
									<h4 class="name">Thomas Muller</h4>
									<div class="job">Business Dev, Indigo XP</div>
								</div>
							</div>
						</div>
						<div class="actions">
							<a href="" class="app-store action">
								<img src="split-landing-page/assets/img/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg" alt="Download_on_the_App_Store">
							</a>
							<a href="" class="app-store action">
								<img src="split-landing-page/assets/img/playstore.svg" alt="Download_on_the_App_Store">
							</a>
						</div>
						<div class="notice">Available on iPhone and Android</div>
					</div>
				</div>
<!-- 				<div class="bottom">
					<div class="content">
						<ul>
							<li><a href="#">Twitter</a></li>
							<li><a href="#">Email</a></li>
							<li><a href="#">Press</a></li>
							<li><a href="#">Legal</a></li>
						</ul>
					</div>
				</div> -->
			</div>
		</div>
		<div class="right">
			<div class="content__container">
				<div class="top">
					<div class="content">
						<div class="phone">
							<img src="split-landing-page/assets/img/phone-bg.png" alt="">
						</div>
					</div>
				</div>
				<div class="bottom">
					<div class="content">
						<ul>
							<li><a href="#">© Copyright 2018 Split Inc.</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Load Scripts Here  -->
	<script src="split-landing-page/assets/js/scripts.js"></script>
</body>
</html>